<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/headerAdmin :: common-header">
  
<body>
	<div th:replace="common/headerAdmin :: navbar"></div>
	<div class="container" style="margin-top: 10px;">
		<div class="row"
			style="background-image:linear-gradient(90deg, rgba(255,182,0,1) 15%, rgb(80, 77, 41) 110%); border-radius: 10px; width: 50%; margin: 20px auto; padding: 20px;">
			<div class="col-sm-12">

				<h2 class="myclass">Chỉnh sửa thông tin sản phẩm</h2>
				<form th:action="@{/product/edit-product}" method="post" 
					enctype="multipart/form-data" > <!--onsubmit="confirmSubmit()"-->
					<div class="form-group">
						<input type="hidden" class="form-control" name="id" th:value="${product.id}" id="id">
					</div>
					<div class="form-group">
						<label>Tên sản phẩm</label> 
						<input type="text" required="required" class="form-control" name="productName" th:value="${product.title}" id="productName">
					</div>
					<div class="form-group">
						<label>Giá sản phẩm</label> 
						<input type="number" required="required" class="form-control" name="productPrice" th:value="${product.price}" id="productPrice">
					</div>
					<div class="form-group">
						<label>Số lượng sản phẩm thêm vào kho</label> 
						<input type="number" required="required" class="form-control" name="productStock" th:value="${product.stock}" id="productStock">
					</div>
					<div class="form-group">
						<label>Ảnh sản phẩm</label> <br>
						<input type="file" name="photo" placeholder="Enter photo" id="photo">
					</div>				
					<div class="form-group">
						<label>Brand</label> 
						<input type="text" required="required" class="form-control" name="productBrand" th:value="${brand.name}" id="productBrand">
					</div>
					<div class="form-group">
						<label>Category</label> 
						<input type="text" required="required" class="form-control" name="productCategory" th:value="${category.name}" id="productCategory">
					</div>
					<!-- <div class="form-group">
						<label>Mô tả sản phẩm</label> 
						<textarea class="form-control" name="productDesc" placeholder="Mô tả" id="productDesc"></textarea>
					</div> -->
					
					<button type="submit" class="btn btn-primary">Lưu</button>
					<button type="reset" class="btn btn-primary">Reset</button>
				</form>
			</div>
		</div>
	</div>
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
  
  <!-- <script>
  		function confirmSubmit(){	  
			var confirm = window.confirm('Bạn đã chắc chắn muốn thêm sản phẩm này?');
			if(!confirm){
				return false; //Doesn't work :'(
			}
		}
  		
  </script> -->
  
</body>
</html>