<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/headerDetailProduct :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>
  
  <div class="container page-content mt-3 mb-3">  
    <div th:if="${addProductSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Đã thêm đồng hồ vào giỏ</strong>
      <div class="d-flex mt-2">
        <a th:href="@{/store}" class="btn btn-info rounded-pill mx-2"><i data-feather="arrow-left"></i> Tiếp tục mua sắm</a>            
        <a th:href="@{/shopping-cart/cart}" class="btn btn-primary rounded-pill mx-2">Đi đến giỏ hàng <i data-feather="arrow-right"></i></a>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div th:if="${notEnoughStock}" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Không thể thêm vào giỏ hàng, chỉ còn <span th:text="${product.stock}"></span> sản phẩm.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" th:src="'/image/product/pictures/'+${product.picture}+'.jpg'">
          </div>
          <div class="col-md-6 mt-4 mt-md-0" style="padding: 10px;">          
            <h2 class="card-title" th:text="${product.title}" style="margin-bottom: 20px;"></h2>
            <div class="d-flex align-items-center"  style="margin-bottom: 10px;">
              <h2 class="price font-weight-bold mr-3">
                <span th:text="${#numbers.formatDecimal(product.price, 0, T(Math).round(product.price) == product.price ? 0 : 2)} + 'VNĐ'"></span>
              </h2>              
              <h6>(<span th:text="${product.stock}"></span> sản phẩm)</h6>
            </div>            
            <!-- <p class="d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo assumenda fugiat deserunt in, facilis laborum excepturi aliquid nobis ipsam deleniti aut? Aliquid sit hic id velit qui fuga nemo suscipit obcaecati. Officia nisi quaerat minus nulla saepe aperiam sint possimus magni veniam provident.</p>
             -->
             <form th:action="@{/shopping-cart/add-item}" method="post">
              <input hidden="hidden" th:field="*{product.id}">  
              <div class="form-row"  style="margin-bottom: 10px;">
                <div class="form-group col-xs-6 col-md-4">
                  <label class="font-weight-bold d-block">Kích thước</label>
                  <select class="form-control" id="size" th:name="size">
                    <option th:each="size : ${product.sizes}" th:value="${size.getValue()}" th:text="${size.getValue()}"></option>
                  </select>
                </div>
                <div class="form-group col-xs-6 col-md-4">
                  <label class="font-weight-bold" for="quantity">Số lượng</label>
                  <input class="form-control" id="quantity" th:name="qty" type="number" value="1"/>
                </div>                               
              </div>
              
              
                
              	<a type="submit" class="btn btn-danger btn-lg rounded-pill atc-demo" sec:authorize="isAnonymous()" th:href="@{/login}" >Thêm vào giỏ hàng</a>
                <button type="submit" class="btn btn-danger btn-lg rounded-pill atc-demo" sec:authorize="isAuthenticated()">Thêm vào giỏ hàng</button>
              
            </form>
            <hr>
            <div class="pt-1 mb-2"><span class="text-medium">Brand:&nbsp;</span><b><a th:each="brand : ${product.brands}" th:value="${brand.getName()}" th:text="${brand.getName()} + ' '"></a></b></div>
            <div class="padding-bottom-1x mb-2">
            	<span class="text-medium">Categories:&nbsp;</span>
            	<b><a class="navi-link" th:each="category : ${product.categories}" th:value="${category.getName()}" th:text="${category.getName()} + ' '"></a></b>
           	</div>
          </div>
        </div>
      </div>    
    </div>
    
    <div class="card" style="margin-top: 15px;">
      <div class="card-body">
        <div class="row">
          <section class="product_description_area">
          
				<div class="container">
					<div class="section-intro pb-60px" style="margin-bottom: 50px;">
		        		<h2>Thông tin <span class="section-intro__style">sản phẩm</span></h2>
		        		
		      		</div>
		      		<p th:text="${product.description}"></p>
				</div>
		</section>
		<!-- ================End Product Description Area =================-->
        </div>
      </div>    
    </div>
    
    <div class="card" style="margin-top: 15px;">
      <div class="card-body">
      	<!--================ Start related Product area =================-->  
		<section class="related-product-area section-margin--small mt-0">
			<div class="container">
				<div class="section-intro pb-50px">
	        		<h2>Sản phẩm <span class="section-intro__style">liên quan</span></h2>
	      		</div>
		      	
		      	<!-- Shop Grid -->          
		          <div class="grid grid-gap-3 grid-col-2 grid-col-lg-4 mb-4">
		              <div class="card card-product" th:each="prod,iter: ${productsByCategory}">
		                <div class="card-body" th:if="${iter.index < 6}">
		                	<div class="product">
			                	<div class="product-img">
									<a th:href="@{../product-detail?id=}+${prod.id}"><img class="card-img-top" th:src="${prod.picture} ? '/image/product/pictures/'+${prod.picture}+'.jpg' : '/image/product/itemexample.jpg'" alt="Card image cap"></a>
									<div class="product-label">
										<span class="sale">-30%</span>
										<span class="new">NEW</span>
									</div>
								</div>
							</div>
		                  <a th:href="@{../product-detail?id=}+${prod.id}" class="card-title" th:text="${prod.title}" style="text-decoration: none;" ></a>
		                  <hr class="colorhr">
		                  <div class="price">
		                  <span class="h5" th:text="${#numbers.formatDecimal(prod.price, 0, T(Math).round(prod.price) == prod.price ? 0 : 2)} + 'VNĐ'"> </span>
		               	 </div>
		                </div>              
		              </div>
		          </div> 
			</div>
		</section>
	
      </div>
    </div>
  </div>

  <div th:replace="common/headerDetailProduct :: footer"> </div> 
  <div th:replace="common/headerDetailProduct :: body-scripts"> </div>
</body>
</html>