<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/headerAdmin :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/headerAdmin :: navbar"> </div>
  
	<div class="container" style="margin-top: 10px;">
		<div class="row"
			style="width: 50%; margin: 0 auto; padding: 20px;">
			<div class="col-sm-12 p-2" style="background-color: white; border-radius: 10px">
				<form th:action="@{/sendEmail}" method="post">
					<div class="form-group">
						<label>Gửi đến:</label> 
						<input type="text" required="required"
						class="form-control" name="to" placeholder="Enter Email" th:value="${user.email}">
					</div>
					<p class="text-danger" th:text=${invalidEmail} th:if=${invalidEmail}></p>
					<div class="form-group">
						<label>Lý do:</label> 
						<input type="text" required="required"
						class="form-control" name="subject" placeholder="Lý do">
					</div>
					<p class="text-danger" th:text=${emptySubject} th:if=${emptySubject}></p>
					<div class="form-group">
						<label for="content">Nội dung:</label>
						<textarea class="form-control" rows="3" placeholder="Nội dung"  name="content"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Send</button>
					<button type="reset" class="btn btn-primary">Reset</button>
				</form>
			</div>
		</div>
	</div>
	
	<div th:replace="common/header :: footer"> </div>  
  	<div th:replace="common/header :: body-scripts"> </div>
</body>
</html>
